In [81]:
import requests
import bs4
from bs4 import BeautifulSoup
import pandas as pd
import time

URL = 'https://www.indeed.com/jobs?q=data+science&l=Denver%2C+CO#&start=10'

page = requests.get(URL)
soup = BeautifulSoup(page.text, features='html.parser')

# def extract_company_from_result(soup): 
#   companies = []
#   for div in soup.find_all(name=”div”, attrs={“class”:”row”}):
#     company = div.find_all(name=”span”, attrs={“class”:”company”})
#     if len(company) > 0:
#       for b in company:
#         companies.append(b.text.strip())
#     else:
#       sec_try = div.find_all(name=”span”, attrs={“class”:”result-link-source”})
#         for span in sec_try:
#           companies.append(span.text.strip())
#  return(companies)
 
df = pd.DataFrame()

def extract_company_from_result(soup):
    companies = []
    for div in soup.find_all(name='div', attrs={'class': 'row'}):
        company = div.find_all(name='span', attrs={'class': 'company'})
        if len(company) > 0:
            for b in company:
                companies.append(b.text.strip())
        else:
            sec_try = div.find_all(name='span', attrs={'class': 'result-link-source'})
            for span in sec_try:
                companies.append(span.text.strip())
    return companies


def extract_job_title_from_result(soup): 
    jobs = []
    for div in soup.find_all(name='div', attrs={'class':'row'}):
        for a in div.find_all(name='a', attrs={'data-tn-element':'jobTitle'}):
            jobs.append(a['title'])
    return jobs

# def extract_title_company(soup):
#     companies = []
#     jobs = []
#     for div in soup.find_all(name='div', attrs={'class': 'row'}):
#         company = div.find_all(name='span', attrs={'class': 'company'})
#         if len(company) > 0:
#             for b in company:
#                 companies.append(b.text.strip())
#     for div in soup.find_all(name='div', attrs={'class': 'row'}):
#         for a in div.find_all(name='a', attrs={'data-tn-element': 'jobTitle'}):
#             jobs.append(a['title'])
#     return companies, jobs

    
def extract_locations_from_results(soup):
    locations = []
    for div in soup.find_all('div', attrs={'class': 'recJobLoc'}):
        loc = div['data-rc-loc']
        locations.append(loc)
    return locations

def extract_title_company_location(soup):
    jobs = extract_job_title_from_result(soup)
    companies = extract_company_from_result(soup)
    locations = extract_locations_from_results(soup)
    return jobs, companies, locations

In [82]:
jobs, companies, locations = extract_title_company_location(soup)
df = pd.DataFrame()
df['Jobs'] = jobs
df['Companies'] = companies
df['Locations'] = locations
df

,Jobs,Companies,Locations
0,Data Science Modeler,Avero,"Boulder, CO"
1,Jr. Big Data Engineer,Enhance IT,"Denver, CO"
2,Data Scientist,Aegis Premier Technologies,"Westminster, CO"
3,Data Scientist,Willis Towers Watson,"Denver, CO"
4,Data Scientist,Valen Analytics,"Denver, CO"
5,Sr Business Analyst / Data Scientist,PHOENIX,"Denver, CO"
6,Data Engineer,Valen Analytics,"Denver, CO"
7,Data Science Analyst,Payfone,"Denver, CO"
8,Data Scientist,Pricesenz,"Broomfield, CO"
9,Data Science Intern,Maxar Technologies,"Westminster, CO"
10,Data Science Journalist,"Alteryx, Inc.","Broomfield, CO"
11,Data Science Intern,"Arrow Electronics, Inc.","Centennial, CO"
12,Data Scientist,Deloitte,"Denver, CO"
13,Head of Data Science,Frontdoor,"Denver, CO"
14,Data Scientist,Dataiku,"Denver, CO"
15,Senior Data Scientist,Nexthealth,"Denver, CO"
16,Data Scientist,The18,"Boulder, CO"
17,Data Warehouse Engineer,Seen by Indeed,"Denver, CO"
18,Data Engineer,Seen by Indeed,"Denver, CO"

In [ ]:
for comp, job in zip(companies, jobs):
    print(f'job: {job}')
    print(f'company: {comp}')

In [ ]:
df = pd.DataFrame()
df['Companies'] = companies
df['Jobs'] = jobs
df

In [ ]:
starting_url = 'https://www.indeed.com/jobs?q=data+science&l=Denver%2C+CO&limit=50&radius=25'
cont_url = 'https://www.indeed.com/jobs?q=data+science&l=Denver%2C+CO&limit=50&radius=25&start='
start = [num for num in range(50, 251, 50)]
start

In [ ]:
url_list = [starting_url]
for i in start:
    base_url = starting_url
    addition = f'&start={i}'
    base_url += addition
    url_list.append(base_url)
    
url_list

In [ ]:
companies, jobs = [], []
for url in url_list:
    page = requests.get(url)
    soup = BeautifulSoup(page.text, features='html.parser')
    companies_temp, job_temp = extract_title_company(soup)
    companies.extend(companies_temp)
    jobs.extend(job_temp)
    time.sleep(5)

df = pd.DataFrame()
df['Jobs'] = jobs
df['Companies'] = companies

In [ ]:
df

In [ ]:
jobs

In [ ]:
def extract_title_company(soup):
    companies = []
    jobs = []
    for div in soup.find_all(name='div', attrs={'class': 'row'}):
        company = div.find(name='span', attrs={'class': 'company'})
        if len(company) > 0:
            for b in company:
                companies.append(b.text.strip())
    for div in soup.find_all(name='div', attrs={'class': 'row'}):
        for a in div.find_all(name='a', attrs={'data-tn-element': 'jobTitle'}):
            jobs.append(a['title'])
    return companies, jobs

In [ ]:
extract_title_company(soup)

In [ ]:
url2 = 'https://www.indeed.com/jobs?q=data+science&l=Denver%2C+CO&limit=50&radius=25'

page = requests.get(url2)
soup = BeautifulSoup(page.text, features='lxml')

soup.find_all('div', attrs={'class': 'jobsearch-SerpJobCard unifiedRow row Result clickcard'})

In [ ]:
for div in soup.find_all('div', attrs={'class': 'sjcl'}):
    print(soup.find('div', attrs={'class': 'recJobLoc'}))

In [ ]:
for div in soup.find_all('div', attrs={'class': 'recJobLoc'}):
    print(div['data-rc-loc'])

In [83]:
!pwd

/Users/josh-mantovani/Desktop

In [1]:
import requests
from bs4 import BeautifulSoup

def extract_company_from_result(soup):
    companies = []
    for div in soup.find_all(name='div', attrs={'class': 'row'}):
        company = div.find_all(name='span', attrs={'class': 'company'})
        if len(company) > 0:
            for b in company:
                companies.append(b.text.strip())
        else:
            sec_try = div.find_all(name='span', attrs={'class': 'result-link-source'})
            for span in sec_try:
                companies.append(span.text.strip())
    return companies

def extract_job_title_from_result(soup): 
    jobs = []
    for div in soup.find_all(name='div', attrs={'class':'row'}):
        for a in div.find_all(name='a', attrs={'data-tn-element':'jobTitle'}):
            jobs.append(a['title'])
    return jobs

def extract_locations_from_results(soup):
    locations = []
    for div in soup.find_all('div', attrs={'class': 'recJobLoc'}):
        loc = div['data-rc-loc']
        locations.append(loc)
    return locations

def extract_comprating_from_results(soup):
    ratings = []
    for div in soup.find_all('div', attrs={'class': 'sjcl'}):
        span = div.find('span', attrs={'class': 'ratingsContent'})
        if span:
            rating = span.text.strip()
            ratings.append(float(rating))
        else:
            ratings.append(None)
    return ratings

def extract_easyapply_from_results(soup):
    easy_apply = []
    for div in soup.find_all('div', attrs={'class': 'row'}):
        if div.find('span', attrs={'class': 'iaLabel'}):
            easy_apply.append('Easy Apply')
        elif div.find('span', attrs={'class': 'iaLabel'}) == None:
            easy_apply.append('Not Easy Apply')
    return easy_apply

def extract_title_company_location_ea(soup):
    jobs = extract_job_title_from_result(soup)
    companies = extract_company_from_result(soup)
    locations = extract_locations_from_results(soup)
    easy_apply = extract_easyapply_from_results(soup)
    ratings = extract_comprating_from_results(soup)
    return jobs, companies, locations, easy_apply, ratings

def get_last_page(URL):
    page = requests.get(URL)
    soup = BeautifulSoup(page.text, features='lxml')
    pn_list = []
    for pn in soup.find_all('span', attrs={'class': 'pn'}):
        page_number = list(pn.text)
        pn_list.append(page_number)
    if len(pn_list[-2]) > 1:
        last_page = int(pn_list[-2][0] + pn_list[-2][1])
    else:
        last_page = int(pn_list[-2][0])
    return last_page

In [3]:
URL = 'https://www.indeed.com/jobs?q=data+science&l=Denver,+CO&limit=50&radius=25'
page = requests.get(URL)
soup = BeautifulSoup(page.text, features='lxml')
print(extract_comprating_from_results(soup))

[2.6, None, 4.0, None, None, None, None, 3.7, None, None, 3.5, 4.0, 4.1, 3.7, 4.6, 3.7, None, None, 4.0, None, 3.0, 4.3, None, 4.0, 4.0, 3.2, None, None, 3.9, None, None, None, 3.7, None, 4.5, 4.0, None, 4.2, None, 3.9, None, 3.8, 3.8, 3.5, 3.9, None, None, 4.1, None, 3.3, 4.6, 3.9, None, 3.5, None, None, 4.4, 3.6, 3.9]

In [8]:
import time
from bs4 import BeautifulSoup
import requests
import pandas as pd

def get_url_list(starting_url):
    last_page = get_last_page(starting_url)
    ending_range = (last_page - 1) * 50
    start = [num for num in range(50, ending_range + 1, 50)]
    url_list = [starting_url]
    for i in start:
        base_url = starting_url
        page_num = f'&start={i}'
        base_url += page_num
        url_list.append(base_url)
    return url_list

def pull_jobs_comp_loc_allpages(url):
    url_list = get_url_list(url)
    companies = []
    jobs = []
    locations = []
    easy_apply = []
    ratings = []
    for url in url_list:
        page = requests.get(url)
        soup = BeautifulSoup(page.text, features='html.parser')
        jobs_temp, companies_temp, locations_temp, easy_apply_temp, ratings_temp = extract_title_company_location_ea(soup)
        companies.extend(companies_temp)
        jobs.extend(jobs_temp)
        locations.extend(locations_temp)
        easy_apply.extend(easy_apply_temp)
        ratings.extend(ratings_temp)
        time.sleep(2)
    return companies, jobs, locations, easy_apply, ratings

In [9]:

starting_url = 'https://www.indeed.com/jobs?q=data+science&l=CO&limit=50&radius=25'

companies, jobs, locations, easy_apply, ratings = pull_jobs_comp_loc_allpages(starting_url)

df = pd.DataFrame()
df['Company_Name'] = companies
df['Job_Title'] = jobs
df['Location'] = locations
df['Easy_Apply'] = easy_apply
df['Rating'] = ratings

df

,Company_Name,Job_Title,Location,Easy_Apply,Rating
0,Avero,Data Science Modeler,"Boulder, CO",Not Easy Apply,2.6
1,Seen by Indeed,Data Engineer,"Denver, CO",Easy Apply,NaN
2,Willis Towers Watson,Data Scientist,"Denver, CO",Not Easy Apply,3.7
3,Seen by Indeed,Data Warehouse Engineer,"Denver, CO",Not Easy Apply,NaN
4,Valen Analytics,Data Scientist,"Denver, CO",Not Easy Apply,NaN
...,...,...,...,...,...
331,Valen Analytics,Data Scientist,"Denver, CO",Not Easy Apply,NaN
332,Valen Analytics,Data Engineer,"Denver, CO",Not Easy Apply,NaN
333,UPMC,Director Integrated Data Science,"Loveland, CO",Not Easy Apply,3.7
334,PHOENIX,Sr Business Analyst / Data Scientist,"Denver, CO",Easy Apply,NaN
335,Willis Towers Watson,Data Scientist,"Denver, CO",Not Easy Apply,3.7

In [18]:
df_not_nullrating = df[df['Rating'].notnull()]

In [20]:
df_not_nullrating.tail(20)

,Company_Name,Job_Title,Location,Easy_Apply,Rating
306,Twitter,Software Engineer - Site Reliability Engineer ...,"Boulder, CO",Not Easy Apply,4.1
307,Global Resource Solutions,Cyber Security Data Scientist,"Colorado Springs, CO",Not Easy Apply,3.9
308,Spectrum,Network Engineer II - Data Center,"Greenwood Village, CO",Not Easy Apply,3.5
309,Leidos,Data Engineer with TS/SCI with Poly,"Aurora, CO",Not Easy Apply,3.8
310,KPMG,"Manager, Big Data Software Engineer","Denver, CO",Not Easy Apply,4.0
311,CDW,Associate Consulting Engineer – Federal (Data ...,"Denver, CO",Not Easy Apply,3.7
312,Comcast,Senior Data Engineer,"Englewood, CO",Not Easy Apply,3.7
313,Ball Aerospace,Senior Engineer – Mission Data Analysis Engine...,"Boulder, CO",Not Easy Apply,3.8
315,HERE Technologies,Lead Software Engineer - Machine Learning,"Boulder, CO",Not Easy Apply,3.8
319,Ball Aerospace,Spacecraft Command and Data Handling (C D H) E...,"Boulder, CO",Not Easy Apply,3.8
320,Hewlett Packard Enterprise,Senior Solutions Engineer – Big Data,"Fort Collins, CO",Not Easy Apply,3.7
321,Jacobs,Big Data Systems Design Engineer IRES - SAFB,"Schriever AFB, CO",Not Easy Apply,3.9
322,LOCKHEED MARTIN CORPORATION,"Electronics Engineer, Command and Data Handlin...","Littleton, CO",Not Easy Apply,4.1
323,Ball Aerospace,Senior Electrical Engineer-Spacecraft Command ...,"Boulder, CO",Not Easy Apply,3.8
324,Ball Aerospace,Principal Electrical Engineer-Spacecraft Comma...,"Boulder, CO",Not Easy Apply,3.8
325,Ball Aerospace,Electrical Engineer II-Spacecraft Command & Da...,"Boulder, CO",Not Easy Apply,3.8
326,Ball Aerospace,Senior Electrical Engineer-Spacecraft Command ...,"Boulder, CO",Not Easy Apply,3.8
328,Avero,Data Science Modeler,"Boulder, CO",Not Easy Apply,2.6
333,UPMC,Director Integrated Data Science,"Loveland, CO",Not Easy Apply,3.7
335,Willis Towers Watson,Data Scientist,"Denver, CO",Not Easy Apply,3.7

In [26]:
links = []
for div in soup.find_all('div', attrs={'class': 'row'}):
    for a in div.find_all('a', attrs={'target': '_blank'}):
        links.append(a['href'])
    
links[0]

'/pagead/clk?mo=r&ad=-6NYlbfkN0BfIQYuIlFPJvCnPBPfsjtoOKkm6zQOy3MTdZ7WA9rSinzkt5GqabLNhPeV3rUS-1SOlpO76q1CnbH6t2gxdZElnamMfnWgBOSMNNqvicz5nTJ4LpHWwLqYmVXBax_v8kEvQ53tM5QALSLcATjLSHd4O1a07UOTKMG1WRjOQvpqUYMzVRyXZGo9RWTYPxZ0iyY5e1NZAHuiZgFZFhdvgp0-jhr-NxG80P6nucEOQUo7Y0EwyDK5fhHvro_Av5wVlm6DTnCg3hNvJ5udCA-nuE-IT70IAeLB_q-x-DV2DJb-uD1p7WOqzfUrCexZP8TArY9klmDXsNb7EP_1C6qdKdfYYFqbj8NyYqDdViylpP1KenAv9YF138N98t_ORLWs8HUTXyLGI4ghRuaQyov4tfIllHI6ixM3KrfHg5LeDEti0Qq0esG-__oB&p=0&fvj=0&vjs=3'

In [27]:
final_links = []
for link in links:
    final_link = 'indeed.com' + link
    final_links.append(final_link)
    
print(final_links[0])

indeed.com/pagead/clk?mo=r&ad=-6NYlbfkN0BfIQYuIlFPJvCnPBPfsjtoOKkm6zQOy3MTdZ7WA9rSinzkt5GqabLNhPeV3rUS-1SOlpO76q1CnbH6t2gxdZElnamMfnWgBOSMNNqvicz5nTJ4LpHWwLqYmVXBax_v8kEvQ53tM5QALSLcATjLSHd4O1a07UOTKMG1WRjOQvpqUYMzVRyXZGo9RWTYPxZ0iyY5e1NZAHuiZgFZFhdvgp0-jhr-NxG80P6nucEOQUo7Y0EwyDK5fhHvro_Av5wVlm6DTnCg3hNvJ5udCA-nuE-IT70IAeLB_q-x-DV2DJb-uD1p7WOqzfUrCexZP8TArY9klmDXsNb7EP_1C6qdKdfYYFqbj8NyYqDdViylpP1KenAv9YF138N98t_ORLWs8HUTXyLGI4ghRuaQyov4tfIllHI6ixM3KrfHg5LeDEti0Qq0esG-__oB&p=0&fvj=0&vjs=3